<p id="notice"><%= notice %></p>

<p>
  <strong>Registro:</strong>
  <%= @order.registro %>
</p>

<p>
  <strong>Tipo venta:</strong>
  <%= @order.tipo_venta %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
