<%= form_for @registro, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :nombre, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :nombre, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telefono, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :telefono, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellido_materno, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :apellido_materno, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellido_paterno, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :apellido_paterno, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  registros_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
